# Configuration file

groundlevel {
    # Ground Level (1-255) [range: 1 ~ 255, default: 64]
    I:settings=64
}


settings {
    B:AlertEnabled=true
    B:AllowSetSpawnDaytime=true
    B:IncludeMiners=true
    S:OnMorningText=Ärkamise aeg! HURRAAAAAA!
    S:OnSleepText=Teeb "tudu-tudu"
    S:OnWakeText=Kukkus voodist välja
    I:SleeperPerc=25
}


